header{
    width: 100%;
    color: #333;
    background-color: white;
}

.static_header{
    display: flex;
    justify-content: right;
    position: static;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
}

.static_header a{
    margin-right: 1vw;
    font-size: 11.5px;
    color: #555;
    box-shadow: 0 0 0 #1b1b1b;
    text-decoration: underline;
    transition: all .4s ease;
}

.ttu_translate_trigger{
    padding-left: 18px;
    background: url('../assets/icons/google-translate.svg') no-repeat left center;
}

.fixed_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
}

.logo_lockup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    padding-left: 0.5%;
}

.logo_lockup a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_lockup img{
    max-width: auto;
    height: 90px;
}

.logo_lockup h1{
    display: inline;
    font-family: ITC Charter W01, Georgia, Garamond, serif;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1em;
    width: 100%;
}