header{
    width: 100%;
    color: #333;
    background-color: white;
}

.static_header{
    display: flex;
    justify-content: right;
    position: static;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
}

.static_header a{
    margin-right: 1vw;
    font-size: 11.5px;
    color: #555;
    box-shadow: 0 0 0 #1b1b1b;
    text-decoration: underline;
    transition: all .4s ease;
}

.ttu_translate_trigger{
    padding-left: 18px;
    background: url('../assets/icons/google-translate.svg') no-repeat left center;
}

.fixed_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
}

.logo_lockup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    padding-left: 2%;
}

.logo_lockup a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_lockup img{
    max-width: auto;
    height: 90px;
}

.logo_lockup h1{
    display: inline;
    font-family: ITC Charter W01, Georgia, Garamond, serif;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1em;
    width: 100%;
}

/* Navigation Links Container */
.nav_links{
    display: flex; /* Arrange links horizontally */
    justify-content: center; /* Align everything to the left */
    flex-wrap: wrap; /* Allow links to wrap to the next line if needed */
    gap: 50px; /* Add spacing between links */
    flex-grow: 1; /* Allow links to grow and use available space */
}

/* Navigation Links */
.nav_links a{
    text-decoration: none; /* Remove underlines */
    color: #333; /* Dark color for links */
    font-size: 18px; /* Adjust font size */
    font-family: 'Arial', sans-serif; /* Change font family */
    font-weight: 600; /* Make links semi-bold */
    text-transform: uppercase; /* Make the text uppercase */
    letter-spacing: 1px; /* Add spacing between letters */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
    white-space: nowrap; /* Prevent text wrapping within a single link */
}

.nav_links a:hover{
    color: red; /* Change color on hover */
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add subtle text shadow on hover */
}

/* For smaller screens: Make links stack vertically */
@media (max-width: 768px){
    header{
        flex-direction: column; /* Stack logo and links vertically */
        align-items: flex-start; /* Align items to the left */
    }

    .nav_links{
        justify-content: flex-start; /* Align links to the left */
        gap: 10px; /* Adjust gap for smaller screens */
    }
}