main{
    width: 100%;
    height: fit-content;
    margin-top: 41.5%;
    z-index: 1000;
    background-color: white;
}

.main_content{
    padding-left: 20%;
    padding-right: 20%;
}

.main_content h4{
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
}