main{
    width: 100%;
}

.main_content{
    padding-left: 20%;
    padding-right: 20%;
}

.main_content h4{
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
}