main{
    width: 100%;
    height: fit-content;
    margin-top: 41.5%;
    background-color: white;
}

.background_text{
    position: fixed;
    top: 300px;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    color: white;
}

.main_content{
    padding-left: 20%;
    padding-right: 20%;
}

.main_content h4{
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
}