.background{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
        url('../assets/campus.png');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    color: white;
}

.background div h2{
    text-align: center;
    margin: 0;
}

.background div h1{
    text-align: center;
    text-transform: uppercase;
}

.background div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    margin: 10%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* in mobile */
@media screen and (max-width: 768px){
    .background div h2{
        font-size: 30px;
    }

    .background div h1{
        font-size: 40px;
    }
}