header{
    width: 100%;
    height: 150px;
    color: #333;
    background-color: white;
}

.static_header{
    display: flex;
    justify-content: right;
    align-items: center;
    position: static;
    width: 100%;
    height: 40px;
}

.static_header a{
    margin-right: 1vw;
    font-size: 11.5px;
    color: #555;
    box-shadow: 0 0 0 #1b1b1b;
    text-decoration: underline;
    transition: all .4s ease;
}

.ttu_translate_trigger{
    padding-left: 18px;
    background: url('../assets/icons/google-translate.svg') no-repeat left center;
}

.fixed_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    width: 100%;
    height: 110px;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
}

.logo_lockup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    padding-left: 2%;
}

.logo_lockup a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_lockup img{
    max-width: auto;
    height: 90px;
}

.logo_lockup h1{
    display: inline;
    font-family: ITC Charter W01, Georgia, Garamond, serif;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1em;
    width: 100%;
}

/* Navigation Links Container */
.nav_links{
    display: flex; /* Arrange links horizontally */
    justify-content: center; /* Align everything to the left */
    flex-wrap: wrap; /* Allow links to wrap to the next line if needed */
    gap: 50px; /* Add spacing between links */
    flex-grow: 1; /* Allow links to grow and use available space */
}

/* Navigation Links */
.nav_links a{
    text-decoration: none; /* Remove underlines */
    color: #333; /* Dark color for links */
    font-size: 18px; /* Adjust font size */
    font-family: 'Arial', sans-serif; /* Change font family */
    font-weight: 600; /* Make links semi-bold */
    text-transform: uppercase; /* Make the text uppercase */
    letter-spacing: 1px; /* Add spacing between letters */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
    white-space: nowrap; /* Prevent text wrapping within a single link */
}

.nav_links a:hover{
    color: red; /* Change color on hover */
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add subtle text shadow on hover */
}

.nav_links_mobile{
    display: none;
}

/* in mobile */
@media screen and (max-width: 768px){
    header{
        height: 110px;
    }

    .static_header{
        display: none;
    }
    
    .logo_lockup img{
        max-width: auto;
        height: 70px;
    }

    .nav_links{
        display: none;
    }

    .nav_links_mobile{
        display: block;
    }

    .menu-icon{
        width: fit-content;
        padding: 3px 7px;
        margin-right: 10px;
        font-size: 24px;
        color: white;
        background: #333;
    }

    .nav_links_mobile ul{
        display: flex;
        justify-content: center;
        position: absolute;
        overflow: hidden;
        left: 0;
        top: 110px;
        width: 100%;
        height: 0;
        padding: 0;
        margin: 0;
        background: #444;
        transition: height 0.3s ease-out;
    }
    
    /* show the menu when active */
    .nav_links_mobile ul.active{
        height: 100px;
    }

    .nav_links_mobile ul a{
        padding: 10px;
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Arial', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}