main{
    width: 100%;
}

.main_content{
    padding: 0 15%;
}

.main_content h4{
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    margin: 0;
}

/* in mobile */
@media screen and (max-width: 768px){
    .main_content{
        padding: 0 10%;
    }
}