main {
    width: 100%;
}

.main-content {
    padding: 0 15%;
}

.main-content h4 {
    font-weight: 400;
    letter-spacing: normal;
    margin: 0;
}

.main-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 15%;
}

.main-row span {
    align-self: stretch;
    width: 2px;
    margin: 20px 50px;
    background-color: #444;
}

.text-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container h1 {
    font-size: 50px;
}

.text-container h2 {
    font-weight: 400;
    margin: 0;
}

.text-container ul {
    padding: 20px 40px;
    background-color: #f5f5f5;
    border-radius: 30px;
}

.text-container ul li {
    font-size: 24px;
    padding: 8px 0;
}

.main-row.n1 {
    background-color: #f5f5f5;
}

/* in mobile */
@media screen and (max-width: 768px) {
    .main-row {
        padding: 60px 10%;
    }

    .main-content {
        padding: 0 10%;
    }

    .main-row {
        flex-direction: column-reverse;
    }

    .main-row span {
        width: 100%;
        height: 2px;
        margin: 40px 0;
    }
}