main {
    width: 100%;
}

.main-content {
    padding: 0 15%;
}

.main-content h4 {
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    margin: 0;
}

/* in mobile */
@media screen and (max-width: 768px) {
    .main-content {
        padding: 0 10%;
    }
}